<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Llyfr</title>
    <meta name="description" content="eBook Repository by Karthik Banjan">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index">Llyfr</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" th:style="'background-image:url(img/eBooks-bg.jpg);'">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">EBooks</h1><a class="btn btn-link btn-circle" role="button" href="#eBooks"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="text-center content-section" id="eBooks">
        <!-- Simple Thymeleaf loop in bootstrap medium-sized card, ebook cover and title linked ebook page, one card per row -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5" th:each="ebook : ${ebooks}">
                    <div class="card">
                        <a th:href="@{/ebook(id=${ebook.getId()})}" target="_blank"><img class="card-img-top" th:src="@{${ebook.getCoverImageLink()}}" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{/ebook(id=${ebook.getId()})}" th:text="${ebook.getTitle()}" target="_blank"></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Simple Bootstrap Pagination with only two buttons -->
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${page.isFirst()} ? 'disabled'">
                            <a class="page-link" th:href="@{/ebooks(pageNumber=${page.getNumber()-1})}">Previous</a>
                        </li>
                        <li class="page-item" th:classappend="${page.isLast()} ? 'disabled'">
                            <a class="page-link" th:href="@{/ebooks(pageNumber=${page.getNumber()+1})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact Me</h2>
                    <p>Hope you liked this project!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item"><a class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/karthikbanjan/" target="_blank" style="margin-right: 0px;">&nbsp;<i class="fa fa-linkedin fa-fw"></i><span class="network-name">&nbsp; LinkedIN</span></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-primary btn-lg" href="https://twitter.com/karthikbanjan" target="_blank">&nbsp;<i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-primary btn-lg" href="https://github.com/karthikbanjan" target="_blank">&nbsp;<i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="link-light" href="https://github.com/karthikbanjan/Web-Quiz-Engine" target="_blank">Web Quiz Engine</a></li>
                        <li class="list-inline-item"><a class="link-light" href="https://github.com/karthikbanjan/Code-Sharing-Platform" target="_blank">Code Sharing Platform</a></li>
                        <li class="list-inline-item"><a class="link-light" href="https://github.com/karthikbanjan/Car-Rental-System" target="_blank">Car Rental System</a></li>
                    </ul>
                    <p class="text-muted mb-0">Copyright © 2022 Llyfr</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{js/grayscale.js}"></script>
</body>

</html>